<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTHER-APP</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post" action="/home">
           <div> <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter email"></div>
            <div>
                <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password">
            </div>
            <button>LOGIN</button>
            <p>you not have accout ? <a href="http://localhost:8080/signup">Signup</a></p>
        </form>
    </div>
</body>
</html>